@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --text: #ffffff;
  --pink: #e020f1;
  --cian: #30c2e2;
  --gray: #959595;
  --black: #111111;

  scroll-behavior: smooth;
}
section[id] {
  scroll-margin-top: 200px;
}

body {
  color: var(--text);
  background: var(--background);
  background-image: url("/images/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "BaiJamjuree", sans-serif;
  font-weight: 700;
}
a {
  font-family: "BaiJamjuree", sans-serif;
}
.text-gradient {
  background: linear-gradient(to right, var(--pink), var(--cian));
  -webkit-background-clip: text;
  color: transparent;
}
.bg-gradient {
  background: linear-gradient(to right, var(--pink), var(--cian));
}
.border-gradient {
  position: relative;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border-radius: 1000px;
}
.border-gradient::after {
  content: "";
  position: absolute;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 1000px;
  background: linear-gradient(to right, var(--pink), var(--cian));
  z-index: -1;
}
.border-gradient.primary {
  background: linear-gradient(to right, var(--pink), var(--cian));
  color: var(--text);
}
.border-gradient.primary::after {
  background: transparent;
}
.icon-hover:hover svg path {
  fill: var(--pink);
}
