.arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.45s ease-in-out;
}
.arrow:hover svg path {
  fill: var(--pink);
}
.arrow.right svg {
  transform: rotate(180deg);
}
